/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://wallpapercave.com/wp/wp2609846.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: #333; /* Dark text color */
}

/* Container styles */
.container {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* White background with transparency */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.bom {
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5); /* White background with transparency */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
/* Blur effect */
.blur {
    filter: blur(5px);
}

/* Assuming you have the Netflix Sans font available */
h1 {
    font-family: "Netflix Sans", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333; /* Dark text color */
}

/* Form styles */
form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
    font-size: 1rem;
}

button[type="submit"] {
    padding: 12px 24px;
    background-color: #1325c9; /* Green button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* mendations section styles */
h2 {
    font-size: 2rem;
    margin-top: 20px;
    color: #333; /* Dark text color */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9; /* Light gray background for list items */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
}

/* Fake button styles */
.fake-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #3498db; /* Blue button */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.fake-button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}
